p {
    border: 1px solid black;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-none {
    clear: none;
}

.clear-left {
    clear: left;
}

.clear-right {
    clear: right;
}

.clear-both {
    clear: both;
}

div {
    width: 100px;
    height: 100px;
    background-color: gray;
    border: 1px solid red;
}

.position-static {
    position: static; /*default value*/
}

